* {
    font-weight: 900;
}


.my_main_banner {
    height: 400px;
    width: 100%;

}

.my_sub1_banner {
    height: 200px;
    width: 100%;
    background-color: azure;
}

.my_sub2_banner {
    height: 200px;
    width: 100%;
    background-color: beige
}

a {
    text-decoration: none;
    color: black;
}

.carousel-inner {
    top: 0;
    left: 0;
    min-width: 100%;
    max-height: 300px;
}

.container {

    margin: 0px auto;
    /* border: solid red; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 1200px;
}

.my-board-box {
    /* border: solid orange; */
    display: flex;

    flex-direction: row;
    margin: 0px;
    width: 1100px;
}

.product-box {
    width: 25%;
    height: 150px;
    /* border: solid yellow; */
    margin: 5px;
    /* float: left; */
}

.card-img-top {
    width: 100%;
    height: 250px;
}

/* 로그인 폼 스타일링 */
.my-container {
    max-width: 650px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-group input {
    border-radius: 0;
}

.btn-custom {
    background-color: #3e7bec;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #f8f9fa;
    letter-spacing: 1px;
}

.btn-custom:hover {
    background-color: #ff7f00;
}

.my-nav-tabs {
    border-bottom: none;
}

.my-nav-tabs .my-nav-link.active {
    background-color: transparent;
    border-color: transparent;
    color: #ff7f00;
    font-weight: bold;
}

.hh-background-wrap {
    background-image: url('https://img.freepik.com/free-photo/business-women-signature-at-document_1388-90.jpg');
    background-size: 1200px 500px;
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hh-content {
    display: flex;
    flex-direction: column;
}

.hh-content span {
    color: white;
}

.hh-content span:nth-child(1) {
    font-size: 25px;
    font-weight: bold;
}

.hh-content span:nth-child(2) {
    font-size: 20px;
}

.btn-custom {
    /* 버튼 텍스트 색상 */
    background-color: #ff7f00;
    border-color: #fff;
    color: #fff;
    /* 버튼 텍스트 사이즈 */
    font-size: 14px;
    padding: 0.25rem 0.5rem;

    border-radius: 10px
}

.login-btn-custom {
    /* 버튼 텍스트 색상 */
    background-color: #ff7f00;
    border-color: #fff;
    color: #fff;
    /* 버튼 텍스트 사이즈 */
    font-size: 20px;
    padding: 0.25rem 0.5rem;

    border-radius: 10px
}