* {
    font-weight: 900;
}


.my_main_banner {
    height: 400px;
    width: 100%;

}

.my_sub1_banner {
    height: 200px;
    width: 100%;
    background-color: azure;
}

.my_sub2_banner {
    height: 200px;
    width: 100%;
    background-color: beige
}

a {
    text-decoration: none;
    color: black;
}
.carousel-inner  {
    top: 0;
    left: 0;
    min-width: 100%;
    max-height: 300px;
  } 

  .container {

    margin: 0px auto;
    /* border: solid red; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 1200px;
}

.my-board-box {
    /* border: solid orange; */
    display: flex;

    flex-direction: row;
    margin: 0px;
    width: 1100px;
}

.product-box {
    width: 25%;
    height: 150px;
    /* border: solid yellow; */
    margin: 5px;
    /* float: left; */
}

.card-img-top {
    width: 100%;
    height: 100px;
}